.products-section {
    display: grid;
}

.products-section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: none; 
}

.products-section__title {
    font-size: 22px;
    font-weight: 700;
}

.products-section__seeAll{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 700;
    color: var(--azul-100)
}

.products-section__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 359px) {
    .products-section__body{
        justify-content: space-around;
    }
}

@media screen and (min-width: 1020px) {
    .products-section__title {
        font-size: 27px;
    }

    .products-section__seeAll{
        font-size: 16px;
    }
}

@media screen and (min-width: 1400px) {
    .products-section__title {
        font-size: 32px;
    }
}