.saiba-mais {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--azul-background);
    display: grid;
    row-gap: 20px;
}

.saiba-mais__grid {
    width:auto;
    display: grid;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.saiba-mais__nav {
    display: grid;
    gap: 20px;
    text-align: center;
    height: fit-content;
}

.saiba-mais__nav__link {
    color: var(--preto-100);
    font-weight: 500;
}


@media screen and (min-width: 720px) {
    .saiba-mais {
        grid-template-columns: 1.2fr 1fr 1fr;
        grid-template-areas: 
        'logo saiba-mais__contato saiba-mais__contato'
        'links saiba-mais__contato saiba-mais__contato';
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .logo-container {
        grid-area: logo;
    }

    .links-container {
        grid-area: links;
    }

    .contato-container {
        grid-area: saiba-mais__contato;
        align-items: flex-start;
    }

    .logo-container {
        justify-content: start;
    }

    .saiba-mais__nav {
        text-align: start;
    }
}

@media screen and (min-width: 1020px) {
    .saiba-mais {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'logo links saiba-mais__contato saiba-mais__contato';
    }

    .saiba-mais__nav {
        gap: 26px;
    }

    .saiba-mais__contato {
        margin-top: 0;
    }
}

.sobre {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
    line-height: 1.2;
}