.formulario {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formulario__titulo {
    font-weight: 700;
    font-size: 16px;
}


.formulario-container .formulario__titulo {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.formulario-container .botao-submit {
    width: 100%;
}

.formulario-container .formulario {
    margin: 12% 0%
}

@media screen and (min-width: 720px) {
    .formulario-container .formulario {
        margin: 17% 12%
    }      
}

@media screen and (min-width: 1020px) {
    .formulario-container .formulario {
        margin: 9% 20%
    } 
    
    .formulario-container .formulario__titulo {
        font-size: 22px;
    }
}

@media screen and (min-width: 1400px) {
    .formulario-container .formulario {
        margin: 4% 23%
    } 
}

@media screen and (min-width: 2000px) {
    .formulario-container .formulario {
        margin: 6% 27%
    } 
}