.campo-textarea {
    display: flex;
    align-items: center;
    
    box-sizing: border-box;
    width: 100%;
    padding: .8rem .4rem .4rem 1rem;
    margin: 0;
    
    background-color: var(--branco);
    border-bottom: solid 2px var(--preto-25);
    border-radius: .4rem;
}

.campo-textarea:focus-within {
    outline: var(--preto-50) solid 1px;
}

.campo-textarea__input {
    resize: vertical;
    width: 100%;
    min-height: 8rem;
    max-height: 15rem;
    padding: 0;
    
    font-weight: 400;
}

.campo-textarea__input:focus-within {
    outline: none;
}