.caixa-busca{
    display: none;
    flex-direction: column;
    
    position: absolute;
    top: 77px;
    left: 0;
    right: 0;
    
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}

.caixa-busca__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
            
    border-radius: 20px;
    background-color: var(--preto-05);
    color: var(--preto-50);
}

.caixa-busca__input {
    padding: 0;
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 0 10px;
    background-color: var(--preto-05);
}

.caixa-busca__lupa {
    display: none;
}

@media screen and (max-width: 356px) {
    .caixa-busca {
      padding: 0 calc((100% - 300px) / 2) 
    }
  }
  
  @media screen and (max-width: 450px) {
    .caixa-busca {
      padding: 0 calc((100% - 355px) / 2) 
    }
  }
  
  @media screen and (min-width: 450px) and (max-width: 719px) {
    .caixa-busca {
      padding: 0 calc((100% - 390px)/2);
    }
  }

@media screen and (min-width: 720px) {
    .caixa-busca {
        display: flex;
        position: relative;
        top: 0;
    
        width: min(100%, 500px);
    }
    
    .caixa-busca__inputs {
        padding: 7px 10px;
                
        border-radius: 20px;
        background-color: var(--preto-05);
        color: var(--preto-50);
    }
    
    .caixa-busca__input:focus-visible {
        outline: none;
    }

    .caixa-busca__lupa {
        display: inline;
    }
}

@media screen and (min-width: 1650px) {
    .caixa-busca{
        margin: 0;
    }
}



.caixa-busca__resultados {
    display: none;
}

.caixa-busca:focus-within
.caixa-busca__resultados {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    z-index: 0;
    width: 100%;
    padding: 10px 1rem 12px;
    background-color: #fafafaec;
    border-radius: 0 0 1.5rem 1.5rem;
    text-align: center;
    color: var(--preto-100);
}

.caixa-busca:focus-within
.caixa-busca__resultados__item {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

@media screen and (min-width: 720px) {
    .caixa-busca:focus-within
    .caixa-busca__resultados {
        position: absolute;
        top: 20px;
        padding-top: 30px;
        gap: 10px;
    }
}