.cabecalho {
    height: 72px;
    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    background-color: var(--branco);
}

.caixa-busca__lupa-mobile {
    display: flex;
    justify-self: flex-end;
    margin-left: 25px;
}

.caixa-busca__close-mobile {
    display: none;
    justify-self: flex-end;
    margin-left: 25px;
}

.cabecalho .botao--transparente {
    padding: 0 clamp(10px, 7vw, 60px);
    height: 45px;
}


@media screen and (min-width: 720px) {
    .cabecalho{
        margin-bottom: 0px;
    }

    .caixa-busca__lupa-mobile, .caixa-busca__close-mobile {
        display: none;
    }

    .cabecalho .botao--transparente {
        padding: 0 clamp(10px, 10vw, 60px);
    }
}

@media screen and (min-width: 1020px) {
    .cabecalho {
        height: 120px;
    }
}

@media screen and (min-width: 1650px) {
    .cabecalho {
        justify-content: space-between;
    }
}