.login-container .formulario {
    margin: 35% 3%
}

.login-container .formulario__titulo {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.login-container .botao {
    margin-top: 15px;
}

@media screen and (min-width: 720px) {
    .login-container .formulario {
        margin: 17% 20%
    }      
}

@media screen and (min-width: 1020px) {
    .login-container .formulario {
        margin: 15% 25%
    } 
}

@media screen and (min-width: 1400px) {
    .login-container .formulario {
        margin: 12% 30%
    } 
}