.banner__container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    height: 200px;
    color: #fff;
}

.banner__titulo {
    font-size: 30px;
    font-weight: 700;
    width: fit-content;
    margin-bottom: 18px;
}

.banner__sub-titulo {
    font-size: 18px;
    font-weight: 600;
    width: fit-content;
    margin-bottom: 16px;
    
}

.efeitos {
    padding: 5px 8px;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.308);
    border-width: 1px 0 0 1px;
    backdrop-filter: blur(4px) drop-shadow(0 5px 20px black);
    /* box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.308); */
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.397);
}

@media screen and (min-width: 720px) {
    .banner {
        height: 300px;
    }

    .banner__titulo {
        font-size: 52px;
    }

    .banner__sub-titulo {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
}